[INPUT]
    Name              tail
    Tag               kubernetes.*
    Path              /var/log/containers/*.log
    Parser            docker
    Refresh_Interval  5
    Mem_Buf_Limit     5MB
    Skip_Long_Lines   On
[INPUT]
    Name              tail
    Tag               kubernetes-json.*
    Path              /var/log/containers/*.log
    Exclude_Path      *nx-*.log,eventrouter-*.log,prometheus-operator-*.log,opa-*.log, kube-proxy-*.log, *kiam_kiam*.log,*logging_fluent*.log
    Parser            docker
    Refresh_Interval  5
    Mem_Buf_Limit     5MB
    Skip_Long_Lines   On
[INPUT]
    Name              tail
    Tag               nginx-ingress.*
    Path              /var/log/containers/*nx-*.log
    Parser            generic-json
    Refresh_Interval  5
    Mem_Buf_Limit     5MB
