[INPUT]
    Name              tail
    Tag               kubernetes.*
    Path              /var/log/containers/*.log
    Exclude_Path      *nx-*.log,eventrouter-*.log
    Parser            docker
    Refresh_Interval  5
    Mem_Buf_Limit     5MB
    Skip_Long_Lines   On
[INPUT]
    Name              tail
    Tag               nginx-ingress.*
    Path              /var/log/containers/*nx-*.log
    Parser            generic-json
    Refresh_Interval  5
    Mem_Buf_Limit     5MB
[INPUT]
    Name              tail
    Tag               eventrouter.*
    Path              /var/log/containers/eventrouter-*.log
    Parser            generic-json
    Refresh_Interval  5
    Mem_Buf_Limit     5MB
[INPUT]
    Name              tail
    Tag               kube-apiserver-audit.*
    Path              /var/log/kube-apiserver-audit.log
    Parser            docker
    Refresh_Interval  5
    Mem_Buf_Limit     5MB
