[OUTPUT]
    Name            es
    Match           kubernetes.*
    Host            ${elasticsearch_host}
    Port            443
    Type            _doc
    Time_Key        @timestamp
    Logstash_Prefix kubernetes_cluster
    tls             On
    Logstash_Format On
    Replace_Dots    On
    Retry_Limit     False
[OUTPUT]
    Name            es
    Match           nginx-ingress.*
    Host            ${elasticsearch_host}
    Port            443
    Type            _doc
    Time_Key        @timestamp
    Logstash_Prefix kubernetes_ingress
    tls             On
    Logstash_Format On
    Replace_Dots    On
    Retry_Limit     False
[OUTPUT]
    Name            es
    Match           eventrouter.*
    Host            ${elasticsearch_host}
    Port            443
    Type            _doc
    Time_Key        @timestamp
    Logstash_Prefix eventrouter
    tls             On
    Logstash_Format On
    Replace_Dots    On
    Retry_Limit     False
[OUTPUT]
    Name            es
    Match           kube-apiserver-audit.*
    Host            ${elasticsearch_audit_host}
    Port            443
    Type            _doc
    Time_Key        @timestamp
    Logstash_Prefix kubeapi_audit
    tls             On
    Logstash_Format On
    Replace_Dots    On
    Retry_Limit     False
