[OUTPUT]
    Name            es
    Match           *
    Host            ${elasticsearch_host}
    Port            ${elasticsearch_port}
    Type            _doc
    Time_Key        @timestamp
    Logstash_Prefix kubernetes_cluster
    tls             ${enable_tls_elasticsearch}
    Logstash_Format On
    Replace_Dots    On
    Retry_Limit     False
[OUTPUT]
    Name            es
    Match           nginx-ingress.*
    Host            ${elasticsearch_host}
    Port            ${elasticsearch_port}
    Type            _doc
    Time_Key        @timestamp
    Logstash_Prefix kubernetes_ingress
    tls             ${enable_tls_elasticsearch}
    Logstash_Format On
    Replace_Dots    On
    Retry_Limit     False