name: Prometheus Operator Linter

on:
  pull_request:
    paths:
    - resources/prometheusrule-alerts/*
  workflow_dispatch:

jobs:
  po-lint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Prometheus Operator Linter
        uses: prymitive/pint-action@84010102dd83d48f4f31ab756a3e4d4f0972dacf # v1.97.0
        with:
          token: ${{ github.token }}