name: Prometheus Operator Linter

on:
  pull_request:
    paths:
    - resources/prometheusrule-alerts/*
  workflow_dispatch:

jobs:
  po-lint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Prometheus Operator Linter
        uses: prymitive/pint-action@e73fa9247a12e7e6ef87f4653f834b25b6741a78 # v1.91.0
        with:
          token: ${{ github.token }}