name: Prometheus Operator Linter

on:
  pull_request:
    paths:
    - resources/prometheusrule-alerts/*
  workflow_dispatch:

jobs:
  po-lint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Prometheus Operator Linter
        uses: prymitive/pint-action@b711bdd6a65e28d0df00e54756f315981d6bfc3f # v1.95.0
        with:
          token: ${{ github.token }}